services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "8080:8080" #traefik dashboard

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/traefik.yml:ro"
      - ./traefik-logs:/logs   # для accessLog

    networks:
      - web


  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    volumes:  
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - web

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - web
    depends_on:
      - prometheus


  db:
    image: postgres:15
    restart: unless-stopped

    environment:
      POSTGRES_DB: studenthub
      POSTGRES_USER: studenthub
      POSTGRES_PASSWORD: studenthubpassword

    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U studenthub"]
      interval: 30s
      timeout: 10s
      retries: 5

    networks:
      - internal

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    restart: unless-stopped

    environment:
      ASPNETCORE_ENVIRONMENT: Production
      CONNECTIONSTRING: Host=db;Database=studenthub;Username=studenthub;Password=studenthubpassword
      ASPNETCORE_URLS: "http://*:5000"
      ADMIN__PASSWORD: "P@ssword"
          
    depends_on:
      db:
        condition: service_healthy

    volumes:
      - ./Backend/StudentHub.Api/uploads:/app/uploads
      - ./Backend/logs:/app/logs
    
    ports:
      - "5000:5000"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=5000"


    networks:
      - web
      - internal

  frontend:
    image: node:20
    restart: unless-stopped

    working_dir: /app
    volumes:
      - ./Frontend:/app
      - /app/node_modules

    entrypoint: sh
    command: -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"

    depends_on:
      - backend

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.services.frontend.loadbalancer.server.port=5173"

 
    networks:
      - web

volumes:
  postgres_data:

networks:
  web:
  internal:
    internal: false
