services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./traefik-logs:/logs

    networks:
      - web

  db:
    image: postgres:15
    restart: unless-stopped

    environment:
      POSTGRES_DB: studenthub
      POSTGRES_USER: studenthub
      POSTGRES_PASSWORD: studenthubpassword

    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U studenthub"]
      interval: 30s
      timeout: 10s
      retries: 5

    networks:
      - internal

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    restart: unless-stopped

    environment:
      ASPNETCORE_ENVIRONMENT: Production
      CONNECTIONSTRING: Host=db;Database=studenthub;Username=studenthub;Password=studenthubpassword
      ASPNETCORE_URLS: "http://*:5000"
      ADMIN__PASSWORD: "P@ssw0rd"
          
    depends_on:
      db:
        condition: service_healthy

    labels:
          - "traefik.enable=true"
          - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
          - "traefik.docker.network=web"
          - "traefik.http.services.backend.loadbalancer.server.port=5000"

    volumes:
      - ./Backend/StudentHub.Api/uploads:/app/uploads
      - ./Backend/logs:/app/logs
    
    ports:
      - "5000:5000"

    networks:
      - web
      - internal

  frontend:
    image: node:20
    restart: unless-stopped

    working_dir: /app
    volumes:
      - ./Frontend:/app
      - /app/node_modules

    entrypoint: sh
    command: -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"

    depends_on:
      - backend
 
    labels:
          - "traefik.enable=true"
          - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
          - "traefik.docker.network=web"          
          - "traefik.http.services.frontend.loadbalancer.server.port=5173"

    networks:
      - web

  prometheus:
    image: prom/prometheus
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    networks:
      - web
    ports:
      - 9090:9090
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=PathPrefix(`/prometheus`)"      
      - "traefik.docker.network=web"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_SERVER_ROOT_URL: "/grafana"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=PathPrefix(`/grafana`)"
      - "traefik.docker.network=web"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"

volumes:
  postgres_data:
  grafana_data:

networks:
  web:
    name: web
  internal:
    internal: false
