version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: StudentHub
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./Backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__PgSql: Host=db;port=5432;Database=StudentHub;Username=postgres;Password=admin
    ports:
      - "5000:5000"
      - "5001:5001"

  frontend:
    build:
      context: ./frontend
      dockerfile: .dockerfile
    ports:
      - "3000:3000"

volumes:
  postgres_data:
  uploads:

networks:
  studenthub_network:
    driver: bridge
