services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.metrics.address=:9100"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"

      
    ports:
      - "80:80"
      - "8080:8080"
      - "9100:9100" # metrics

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./traefik-logs:/logs

    networks:
      - web

  db:
    image: postgres:15
    restart: unless-stopped

    environment:
      POSTGRES_DB: studenthub
      POSTGRES_USER: studenthub
      POSTGRES_PASSWORD: studenthubpassword

    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U studenthub"]
      interval: 30s
      timeout: 10s
      retries: 5

    networks:
      - internal

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    restart: unless-stopped

    environment:
      ASPNETCORE_ENVIRONMENT: Production
      CONNECTIONSTRING: Host=db;Database=studenthub;Username=studenthub;Password=studenthubpassword
      ASPNETCORE_URLS: "http://*:5000"
      ADMIN__PASSWORD: "P@ssw0rd"
          
    depends_on:
      db:
        condition: service_healthy

    labels:
          - "traefik.enable=true"
          - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
          - "traefik.docker.network=web"
          - "traefik.http.services.backend.loadbalancer.server.port=5000"

    volumes:
      - ./Backend/StudentHub.Api/uploads:/app/uploads
      - ./Backend/logs:/app/logs
      - ./Backend/dataprotection-keys:/root/.aspnet/DataProtection-Keys
    
    ports:
      - "5000:5000"

    networks:
      - web
      - internal

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile

    restart: unless-stopped

    depends_on:
      - backend
 
    labels:
          - "traefik.enable=true"
          - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
          - "traefik.docker.network=web"          
          - "traefik.http.services.frontend.loadbalancer.server.port=80"

    networks:
      - web

  prometheus:
    image: prom/prometheus:latest    
    container_name: prometheus
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    networks:
      - web
    ports:
      - 9090:9090

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_AUTH_ANONYMOUS_ENABLED: "true"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - web
    ports:
    - 3000:3000

volumes:
  postgres_data:
  grafana_data:

networks:
  web:
    name: web
  internal:
    internal: false
